@border-style: 1px solid #ddd;

.zhique-editor {
  display: flex;
  overflow: hidden;
  position: relative;
  border: @border-style;
  margin: 0 auto;

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
  }

  .CodeMirror {
    flex: 1 1;
    height: 100%;
    line-height: 1.6;
    border-right: @border-style;
  }

  &-preview {
    overflow: auto;
    line-height: 1.6;

    &-container {
      padding: 15px;
    }
  }
}

.zhique-icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
